.myBg {
  width: 50%;
  height: 500px;
  position: absolute;
  top: 20%;
  right: 10%;
}
.bannerCont {
  background: url("https://demos.wrappixel.com/premium-admin-templates/react/flexy-react/main/static/media/welcome-bg-2x-svg.25338f53.svg");
  width: 80%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 20%;
}
.text {
  z-index: 10;
  position: absolute;
  top: 20%;
}

@media (max-width: 550px) {
  .myBg {
    width: 80%;
    height: 400px;
    right: 5%;
    top: 14%;
  }
}
